table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

th {
    background-color: steelblue;
    color: white;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}
